html, body, .container {
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-family: 'Lato', Helvetica, sans-serif;
}

body, .container {
    margin: 0;
    background-color: #000;
    color: #fff;
}

button {
  background-color: #000;
  color: #fff;
  border: none;
  outline: 0;
}

.sound{
  display: block;
  position: absolute;
    width: 38px;
    height: 38px;
    right: 15px;
    top: 15px;
    /*opacity: 0.4;*/
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    -webkit-transition: opacity 0.1s linear;
    -moz-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
}

.play-button{
  display: flex;
}

#play-with{
  margin-top: 10px;
  margin-left: 2%;
  border: 2px solid #fff;
  border-radius: 4px;
  /*opacity: 0.4;*/
  font-size: 1.3em;
  color: #fff;
  padding: 4px 17px;
  padding-left: 0;
  padding-right: 0px;
}

.multi-comp{
padding: 2.8px 7px;
cursor: pointer;

}

#play-text{
cursor: pointer;
}

#comp{
cursor: pointer;
}

#peopl{
  cursor: pointer;
  /*color: #666;*/
}

#reset-board{
  display: none;
  padding-top: 15px;
  padding-left: 2%;
  flex: 1;
}

#reset-board span{
  font-size: 1.3em;
  /*opacity: 0.4;*/
  cursor: pointer;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 4px;
  padding: 4.8px 34px;

}

.game{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -300px;
    margin-top: -330px;

}

.square-board{
  width: 570px;
  height: 570px;
}
.square{
width: 33%;
height: 33%;
float: left;
}

.left,.middle,.right {
  border-right: 2px solid #fff;
}

.top,.mid,.bottom {
  border-bottom: 2px solid #fff;
}

.players p {
  font: 20px "Raleway",sans-serif;
  font-weight: 400;
    text-transform: uppercase;
    line-height: 1
}

.players{
  margin-top: 7%;
  display: flex;
}
.player1{
  text-align: center;
  flex: 1;
}

.tie{
  text-align: center;
  flex: 1;
}

.player2{
  text-align: center;
  flex: 1;
}

.score{
    font-size: 50px;
    display: block;
    text-align: center;
    padding: 10px 0 0 0;
}


.x,.o {
  font-size:175px;
  font-weight: 600;
}
